@model RecruitmentPortal.Zest.Common.ServiceModels.SingleJobDescriptionResult


@{
    ViewBag.Title = "Details";
}
<div class="page-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <h1>Details</h1>
            </div>
        </div>
    </div>
</div>

<div class="row form-content">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel panel-collapse-defult active">
                    <div id="collaspseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="col-sm-9">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="form-group">
                                                @if (Model.Job_Title != null)
                                                {
                                                <p>
                                                    <label class="col-sm-3">Job Title :</label>

                                                    @Html.DisplayFor(model => model.Job_Title)
                                                </p>
                                                }
                                                  @if(!string.IsNullOrEmpty(Model.Resource_Designation))
                                                  {

                                                <p>
                                                    <label class="col-sm-3">Resource Designation :</label>

                                                    @Html.DisplayFor(model => model.Resource_Designation)
                                                </p>
                                                  }
                                                      @if(!string.IsNullOrEmpty(Model.Job_Description))
                                                      {
                                                

                                                <p>
                                                    <label class="col-sm-3"> Job Description :</label>

                                                    @Html.DisplayFor(model => model.Job_Description)
                                                </p>
                                                      }
                                                @if(!string.IsNullOrEmpty(Model.Essential_Skills))
                                                {
                                                <p>
                                                    <label class="col-sm-3">  Essential Skills :</label>


                                                    @Html.DisplayFor(model => model.Essential_Skills)
                                                </p>
                                                }
                                                 @if (!string.IsNullOrEmpty(Model.Desired_Skills))
                                                 {
                                                <p>
                                                    <label class="col-sm-3">Desired Skills :</label>

                                                    @Html.DisplayFor(model => model.Desired_Skills)
                                                </p>
                                                 }
                                                 @if (!string.IsNullOrEmpty(Model.Job_Type))
                                                 {
                                                <p>
                                                    <label class="col-sm-3">  Job Type :</label>

                                                    @Html.DisplayFor(model => model.Job_Type)
                                                </p>
                                                 }
                                                 @if(!string.IsNullOrEmpty(Model.Department))
                                                 {
                                                <p>
                                                    <label class="col-sm-3">     Department :</label>

                                                    @Html.DisplayFor(model => model.Department)
                                                </p>
                                                 }
                                                 @if (!string.IsNullOrEmpty(Model.Priority))
                                                 { <p>
                                                    <label class="col-sm-3">     Priority :</label>

                                                    @Html.DisplayFor(model => model.Priority)
                                                </p>
                                                 }
                                                 @if (!string.IsNullOrEmpty(Model.Status))
                                                 {
                                                <p>
                                                    <label class="col-sm-3">     Status :</label>

                                                    @Html.DisplayFor(model => model.Status)
                                                </p>
                                                 }
                                                @*@if (Model.Created_On != null)
                                                { 
                                                <p>
                                                    <label class="col-sm-3">     Created_On :</label>

                                                    @Html.DisplayFor(model => model.Created_On)
                                                </p>
                                                }*@
                                                @if (!string.IsNullOrEmpty(Model.Created_By))
                                                {
                                                <p>
                                                    <label class="col-sm-3">     Created_By :</label>

                                                    @Html.DisplayFor(model => model.Created_By)
                                                </p>
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Job_Experience))
                                                {
                                                <p>
                                                    <label class="col-sm-3">Job Experience :</label>

                                                    @Html.DisplayFor(model => model.Job_Experience)
                                                </p>
                                                }
                                                 @if (!string.IsNullOrEmpty(Model.Other_Skills))
                                                 {
                                                <p>
                                                    <label class="col-sm-3"> Other Skills:</label>

                                                    @Html.DisplayFor(model => model.Other_Skills)
                                                </p>
                                                 }
                                                  
                                                  

                                                <p>
                                                    <label class="col-sm-3"> Salary:</label>

                                                    @Html.DisplayFor(model => model.Salary)
                                                </p>
                                                  
                                                 @if (!string.IsNullOrEmpty(Model.Assign_Hr))
                                                 {
                                                <p>
                                                    <label class="col-sm-3"> Assign_Hr:</label>

                                                    @Html.DisplayFor(model => model.Assign_Hr)
                                                </p>
                                                 }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



